@config "../tailwind.config.js";

@import "tailwindcss";
@plugin "daisyui" {
  themes: recommendationTheme --default;
}

@plugin "daisyui/theme" {
  name: "recommendationTheme";
  default: true;
  color-scheme: dark;

  --color-primary: #FF830D;  
  --color-secondary: #8B1E3F;
  --color-accent: #ffc400;
  --color-neutral: #111827;
  --color-base-100: #050608;
  --color-base-content: #fff0bd;
  --color-error: oklch(57% 0.245 27.325);
  --depth: 1;
  --noise: 0;
}
