#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container{
  background-color:rgb(190, 188, 188);
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;

}

h3{
  color: rgb(53, 49, 62);
}
label{
  display: block;
  text-align: left;
}
input {
  display: block;
  border-radius: 7px;
  border: none;
  width: 100%;
}

select{
  display: block;
  border: none;
  width: 100%;
  border-radius: 7px;
}

button{
  padding:10px 15px;
  border:none;
  border-radius: 4px;
  background-color: rgb(121, 123, 123);
  color:whitesmoke;
  width: 40%;
  margin: 15px;
}
